/***** Bootstrap.css modifications *****/

body {}

h1,
h2 {
    font-family: 'Crete Round', Helvetica, Arial, sans-serif;
}

p {
    line-height: 150%;
    margin-bottom: 25px;
    font-size: 16px;
}

a {
    color: #e67158;
}

.btn {
    background-color: white;
    /*    border: 2px solid white;*/
}

.navbar {
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.navbar-inverse {
    background-color: transparent;
    border: medium none;
    padding: 20px 0;
    transition: padding 0.3s ease 0s;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
    color: #e67158;
}


/*
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #0B465C;
}
*/

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #e67158;
}

.navbar-default {
    background-color: #e9f1ec;
}

nav.navbar.navbar-default.navbar-static-top {
    padding: 20px 0;
}

.navbar-brand {
    padding: 10px 35px 10px 15px;
}

@media (min-width: 768px) {
    .navbar-header {
        float: none;
    }
    .navbar-nav {
        margin: 0 -15px;
    }
}

@media (min-width: 992px) {
    .navbar-header {
        float: left;
    }
}


/*************/


/***** Custom modifications *****/

.img-home {
    background-size: cover;
    height: 140px;
    width: 140px;
    margin: 80px auto 20px;
}

header {
    background-attachment: scroll;
    background-image: url("../images/home-bg.jpg");
    background-position: center center;
    background-size: cover;
    height: 626px;
    color: white;
}

header .btn.focus,
header .btn:focus,
header .btn:hover {
    color: #08642d;
    background-color: #bfd1c6;
}

#heading {
    background-position: center bottom;
    background-size: auto;
    min-height: 170px;
    height: auto;
}

#heading h1 {
    padding-top: 75px;
    font-size: 46px;
}

header .home-text,
section .home-text {
    margin: 0 auto;
    max-width: 580px;
    text-align: center;
}

header .home-text {
    padding: 200px 30px 0;
}

header .home-text p {
    margin-top: 50px;
    color: white;
}

header .home-text a {
    margin-top: 50px;
    color: #08642d;
}

section {
    padding: 100px 0;
}

#content {
    padding: 50px 15px;
}

section .home-text {
    padding: 0 30px;
}

#action {
    background-color: #e9f1ec;
    background-attachment: scroll;
    background-image: url("../images/action-bg.jpg");
    background-size: cover;
}

#action .container {
    margin: 0 auto;
    max-width: 580px;
    text-align: center;
}

#action a {
    margin-top: 50px;
    color: white;
}

#action .btn {
    background-color: #e67158;
}

#action .btn.focus,
#action .btn:focus,
#action .btn:hover {
    color: white;
    background-color: #ce614a;
}

footer {
    background-color: #0B465C;
    padding-top: 50px;
    color: white;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 14px;
}

footer p {
    color: #3f6877;
    font-size: 12px;
}

footer a:focus,
footer a:hover {
    color: #e67158;
    text-decoration: underline;
}

footer .heading {
    font-weight: 700;
    padding-bottom: 10px;
}

footer li {
    padding-bottom: 5px;
}

footer .social-icons li {
    display: inline-block;
    padding: 0;
}

footer .social-icons li a {
    background: #e67158 none repeat scroll 0 0;
    border-radius: 100%;
    color: #0B465C !important;
    display: block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    width: 30px;
}

footer .footer-copyright {
    background: #06242f none repeat scroll 0 0;
    margin-top: 40px;
    padding: 30px 0 10px;
}

footer .footer-copyright a {
    color: #8c9fa7 !important;
}

.p-t-10 {
    padding-top: 10px;
}

.p-b-30 {
    padding-bottom: 30px;
}

.avatar .dropdown-menu {
    width: 100px !important;
}

.avatar .dropdown-menu li {
    width: 50px;
}

.avatar .dropdown-menu li a {
    width: 50px;
}

.avatar .dropdown-menu li a img {
    width: 50px;
}

img#avatar-img-final {
    width: 25px;
}
